* {
    /* border: 1px solid red !important; */
}

body {

	background-image: url("res/eight_horns.png");
	
}

.row{
	display: flex;
}
#navigation_bar {

	background-color: #5C5CAA;
	height: 50px;
}

#app-title{

	font-weight: bold;
	margin: 3px;
	font-size: 30px;
}

#categories_container {
	margin-top: 40px;
	background-color: #CBCBCB;
	font-weight: bold;
	border-top: 20px;
}

.category {
	margin: 1px;
	border: 1px solid black;
}

#item_container {
	background-color: #D8D6D6;
}

.item {
	border: 1px solid black;
	margin: 1px;
}

.item_desc {
	margin: 1px;
	border: 1px solid black;
}