* {
   /* border: 1px solid red !important; */
}

body {

	background-image: url("res/eight_horns.png");

}

.row{
	display: flex;
}
#navigation_bar {

	background-color: #B2B2FF;
	height: 50px;
}

#app-title{

	font-weight: bold;
	margin: 3px;
	font-size: 30px;
}

#categories_container {
	margin-top: 40px;
	background-color: #CBCBCB;
	font-weight: bold;
	border-top: 20px;
}

.category {
	margin: 1px;
	border: 1px solid black;
}

#item_container {
	background-color: #D8D6D6;
}

.item {
	border: 1px solid black;
	margin: 1px;
}

.item_desc {
	margin: 1px;
	border: 1px solid black;
}

#edit_button {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: -12px;
}

#delete_button {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: -5px;
}

#description {

	margin-top: 20px;
}

#name {

	margin-top: 20px;

}

#edit_header {

	margin-top: 20px;
}

#delete_header {

	margin-top: 20px;

}

#delete_item_form_buttons {

	margin-top: 10px;

}

#add_item_name {

	margin-top: 20px;

}

#add_item_description {

	margin-top: 20px;

}