<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Kyle Lick">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
		<title>Catalog App!</title>
	</head>
	<body>
		<div id="navigation_bar">
			<div class="container">
				<div class="row">
					<div class="col-md-3 text-left">
						<p id="app-title">Catalog App!</p>
					</div>
				</div>
			</div>
		</div>
		<div id="categories">
			<div class="container text-center" id="categories_container">
				<div class="row">
					<div class="col-md-3 category">
						<p>Category1</p>
					</div>
					<div class="col-md-3 category">
						<p>Category2</p>
					</div>
					<div class="col-md-3 category">
						<p>Category3</p>
					</div>
					<div class="col-md-3 category">
						<p>Category4</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="container" id="item_container">
				<div class="row item_row">
					<div class="col-md-3 item">
						<p>Item1</p>
					</div>
					<div class="col-md-9 item_desc">
						<p>Item info</p>
					</div>
				</div>
				<div class="row item_row">
					<div class="col-md-3 item">
						<p>Item2</p>
					</div>
					<div class="col-md-9 item_desc">
						<p>Item info</p>
					</div>
				</div>
				<div class="row item_row">
					<div class="col-md-3 item">
						<p>Item3</p>
					</div>
					<div class="col-md-9 item_desc">
						<p>Item info</p>
					</div>
				</div>
				<div class="row item_row">
					<div class="col-md-3 item">
						<p>Item4</p>
					</div>
					<div class="col-md-9 item_desc">
						<p>Item info</p>
					</div>
				</div> 
			</div>
		</div>
	</body>
</html>