<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Kyle Lick">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
		<title>Catalog App!</title>
	</head>
	<body>
		<div id="navigation_bar">
			<div class="container">
				<div class="row">
					<div class="col-md-3 text-left">
						<p id="app-title">Catalog App!</p>
					</div>
					<div class="col-md-3">
						<p class="text-left">Maybe a search bar?</p>
					</div>
					<div class="col-md-6">
						<button type="button" class="btn btn-default" aria-label="Left Align" id="login_button">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>